/*styling the background photo of the landing page*/
html, body{
   margin: 0;
   padding: 0;
}

/*Ensuring the photo covers the entire screen and is centered*/
body{
    width: 100%;
    background-image:url(Images/bingwa.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
}

/*Adding a dark overlay to make the website text more readable*/
body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    z-index: 0;
}

/*Styling the logo image to appear smaller*/
.logo img{
    max-width:70px;
    filter:brightness(0.8);
}

/*Putting the navigation links side to side and removing the bullets*/
nav ul{
    display: flex;
    list-style: none;
    gap: 25px;
    margin: 0;
    padding: 0;
}

/*Styling the navigation links to be white and larger and to also remove the underline*/
nav ul li a{
    color: black;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
}